:root {
    --base-color:#12D2D7;
    --accent-color: #FF8014;
    --dark-grey: #222222;
    --light-grey: #FAFAFA;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: 'Arvo', Serif;
    color: var(--dark-grey);
}
a {
    color: var(--dark-grey);
}
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    font-family: 'Lato', Sans-Serif;
    color: var(--dark-grey);
}
.content-container {
    margin: 0;
    flex: 1 0 auto;
    padding: 2rem 3rem;
}
nav {
    background-color: var(--base-color);
}
nav ul {
    margin: 0 auto;
    padding: 0;
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    overflow: scroll
}
nav li {
    margin: auto;
    display: block;
    text-align: center;
}
nav a {
    display: block;
    font-weight: bold;
    text-decoration: none;
    padding: 1.5rem 1rem;
}
nav a:hover {
    background-color: var(--accent-color)
}
footer {
    background-color: var(--accent-color);
    flex-shrink: 0;
    grid-area: socials;
}
footer ul {
    margin: 0;    
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    list-style-type: none;
}
footer li {
    padding: 0.5rem 1rem;
    font-size: 1.7rem;
}
footer li i:hover {
    color: var(--accent-color)
}
@supports (display: grid) {
    @media (min-width: 44rem) {
        body {
            display: grid;
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            grid-template-columns: auto 1fr;
            grid-template-rows: 1fr auto;
            grid-template-areas: 
                "nav main"
                "socials main";    
        }
        .content-container {
            overflow: auto;
            grid-area: main;
        }
        nav ul {
            flex-flow: column nowrap;
            justify-content: center;
            overflow: hidden;
        }
        nav li {
            margin: 0;
        }
        footer ul {
            flex-flow: column nowrap;
            padding: 0.75rem 0;
        }
        footer li {
            padding: 0.5rem 0;
            font-size: 1.5rem;
            margin: 0 auto;
        }
    }
}