.content-container {
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    top: 25%;
    padding: 0 3rem;
}
.content-container h1 {
    padding: 0;
    margin: 0 0 0.5rem 0;
    font-size: 3rem;
}
.content-container p {    
    padding: 0;
    margin: 0;
    font-size: 2rem;
}
a.spotlight-button {
    display: inline-block;
    margin: 1rem 0 0 0;
    padding: 0.7rem 1.1rem;
    border: 2px solid var(--accent-color);
    font-size: 1.25rem;
    text-decoration: none;
    background-color: var(--base-color)
}
a.spotlight-button:hover {
    background-color: var(--accent-color)
}