<article>
    <h1><%- theme.home_heading %></h1>
    <p><%- theme.home_paragraph %></p>
    <a class="spotlight-button" href="<%- page_url(theme.home_spotlight_url) %>"><%- theme.home_spotlight_text %></a>
</article>